<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="/katex/katex.min.css">
    <link rel="stylesheet" href="/site.css">
    <title><%= file.title %></title>
</head>
<body>
<div id='content'>
<header>
<h1><%= file.title %></h1> <address>Nishant Rodrigues</address>
</header>
<%= contents %>
</div>
<script src="//localhost:35729/livereload.js?snipver=1"></script>
</body>
</html>
