#content {
    max-width: 600px;
    margin: auto;
    font-family: serif;
}
@media print { #content { max-width: none; } }

header {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}
header h1, address {
    font-size: 12pt;
    font-weight: normal;
    font-style: normal;
    margin: 0px;
}

dt { font-weight: bold; }
blockquote {
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 10px;
    margin: 0px;
}

.katex-display {
    text-align: left;
    padding-left: 20px;
}

h2 { font-size: 18px;  }
h3 { font-size: 16px;  }
h4 { font-size: 14px;  }
h5 { font-size: 13px;  }
h6 { font-size: 12px;  }

table td {
    border: solid black 1px;
    padding: 6px;
}

* { border-collapse: collapse; }

/* CMN 112 Needed these */
.speech-formal-outline li       { list-style-type: upper-roman; }
.speech-formal-outline li li    { list-style-type: upper-alpha; }
.speech-formal-outline li li li { list-style-type: unset;       }
.double-line-space              { line-height: 2em; }
